* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5 !important;
  width: 100% !important;
}

.intro {
  position: relative;

}

.intro video {
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  max-width: 100%;
  object-fit: cover;
}


.landing-text {
  padding-top: 300px;
  position: absolute;
  right:10%;
  text-align: center;
  font-size: 3.5rem;
  color: black;
}

.desc-section {
  height: 100vh;
  color: black;
}

.desc-section-text {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

@media screen and (max-width: 1050px) {
  .intro video {
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    object-position: 13% 10%;
  }
}

@media screen and (max-width: 400px) {
  .intro video {
    display: block;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    object-position: 13% 10%;
    display:flex;
  }
}

/*NAVBAR*/

.nav-item {
  position: relative;
  mix-blend-mode: exclusion;  
}

.nav-item {
  justify-content: center;
}
